main {
    width: 700px;
    margin: 0px auto 0px auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 25px;
    padding-top: 5px;
    margin-top: 10%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding-left: 0px;
  }

  body {
    background-color: #f0f4ff;
  }

  h3 {
    font-family: Roboto;
    letter-spacing: 1px;
    color: #3d3e41;
    font-size: x-large;

  }
  .form-column{
    transform: translate(10%, -15%);
    
    
  }
  .form-group{
    margin-top: 7px;
  }
  label{
    font-family: Arial, Helvetica, sans-serif;
  }
  select{
    background-color: #980809;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Roboto;
    margin-left: 5px;
  }

  .header-box {
    display: flex;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .rating {
    display: inline-block;
  }

  #rating-value {
    font-family: Roboto;
    margin: 0px;
    color: #6a0606;
  }

  .estrela {
    justify-content: center;
  }

  .avaliação {
    float: right;
    transform: translate(5%, -135%);
    background-color: #f5f5f5;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);

  }
  .grid{
    padding-top: 75px;
  }
  
  .rating label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-image: url('estrela2.png');
    background-size: cover;
  }

  .rating input:checked+label {
    background-image: url('estrela1.png');
  }

  .criar-post {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .usuario {
    display: flex;
    align-items: center;
  }

  .imagem-de-perfil {
    margin-top: 0px;
    margin-left: 10px;
  }

  .info {
    font-family: Roboto;
  }

  .usuario {
    position: relative;
    display: inline-block;
  }

  .botoes-filtro {
    display: inline;
    float: right;
    transform: translate(5%, -500%);
  }

  .descricao {
    width: 307px;
    margin-left: 20px;
    border-radius: 10px;
    display: flexbox;
    padding-top: -30px;
    padding-left: 5px;
    padding-top: 0px;
    transform: translate(0%,-80%);
  }

  .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-left: 120px;
    margin-bottom: 5px;
  }

  .texto-descricao {
    font-family: Roboto;
    color: black;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 5px;
    padding-top: 5px;
  }

  .imagem-de-perfil {
    width: 80px;
    margin-top: 5px;
    margin-left: 16px;
    margin-bottom: 0px;
  }

  .nome-usuario {
    margin-top: 10px;
    margin-bottom: 0;
    color: black;

  }

  .user {
    margin-bottom: 0px;
    margin-top: 0;
    font-weight: lighter;
    color: black;
  }

  .botao-close {
    float: right;
    margin-left: 545px;
    margin-top: 10px;
  }

  #post {
    margin-left: 7px;
  }

  .separacao {
    background-color: #980809;
    width: 10px;
    padding-top: 5px;
    padding-left: 715px;
  }

  .imagens {
    transform: translate(92%, -450%);
    float: right;
  }

  .salvar {
    float: right;
    transform: translate(-20%, -1289%);
  }

  .filtro {
    font-family: Roboto;
  }

  .post-image {
    background-color: #f0c4c4;
    color: #980809;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Roboto;
    margin: 5px;
  }

  .salvar:hover {
    background-color: #6a0606;
  }

  .post-image:hover {
    background-color: #e27b7b;
    border-color: #980809;
  }

  .digite-aqui {
    width: 290px;
    margin-left: 5px;
    height: 150px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #3d3e41;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
    margin: 5px;
    color: #3d3e41;
    justify-content: center;
    float: left;
    transform: translate(70%);

  }
  .digite-aqui2 {
   
    margin-left: 5px;

    padding: 5px;
    font-size: 15px;
    border: 1px solid #3d3e41;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
    margin: 5px;
    color: #3d3e41;
    justify-content: center;
    transform: translate(22.5%);

  }
  .descricao2{
    transform: translate(12.5%, -600%);
  }

  .close {
    background-color: #f0c4c4;
    color: #980809;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .close:hover {
    background-color: #e27b7b;
  }
  .salvando{
    background-color: #f0c4c4;
    color: #980809;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    transform: translate(-180%, 30%);
  }
  .salvando:hover{
    background-color: #e27b7b;
  }
  .dropbtn {
    background-color: #f0c4c4;
    color: #980809;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Roboto;
  }

  .dropbtn:hover {
    background-color: #e27b7b;
  }

  .salvar {
    background-color: #980809;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Roboto;
    margin-left: 5px;
  }

  .dropbtn2 {
    background-color: #f0c4c4;
    color: #980809;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Roboto;
    margin-left: 5px;
  }

  .dropbtn2:hover {
    background-color: #e27b7b;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #6a0606;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .show {
    display: block;
  }

  /* Estilo para o overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
  }

  /* Estilo para o pop-up */
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    z-index: 1001;
    display: none;
    width: 80%;
    max-width: 800px;

  }

  .popup-content {
    position: relative;
  }

  .popup .close {
    position: absolute;
    top: 10px;
    right: 55px;
    font-size: 20px;
    cursor: pointer;
  }
  #url-imagem{
    transform: translate(2.5%,-45%);
    padding-top: 2px;
    padding-left: 5px;
  }
  